<h1> k-NN Classifier example from IBM </h1>

In [3]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing

In [10]:
# using demographic data, such as region, age, and marital status, to predict 
# the usage patterns of the customers of a telecommunications company by
# classifying them into categories by usage.

# The target field, called custcat, has four possible values that correspond 
# to the four customer groups, as follows: 1-Basic Service 2-E-Service 
# 3-Plus Service 4-Total Service

#from IPython.core.display import HTML
#display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [14]:
df = pd.read_csv('teleCust1000t.csv')
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [15]:
df['custcat'].value_counts()

3    281
1    266
4    236
2    217
Name: custcat, dtype: int64